
# dependencies
node_modules/

clone-final-29f3b-firebase-adminsdk-fbsvc-6edff5612c.json

# local env files
.env*.local
.env
judahgh-f4f7d-firebase-adminsdk-fbsvc-d104792f3f.json
firebase-debug.log
.env.judahgh-f4f7d